<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

<h1>Welcome home</h1>
<a href="/view1/">Link to view1</a>
<a href="/login/">Login</a>
<a href="/editor/">Editor new post</a>
<a href="/vote_card/">Vote</a>

<h1>Feed</h1>
<ul>
    <% for (let comment of comments) {%>
        <li>
            <p><%= comment.comment %></p>
            <p><%= comment.username %></p>
        </li>
    <% } %>
</ul>

</body>
</html>