body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    background-color: #fbfbfb;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    transition: 0.3s;
}

.title {
    font-family: 'Young Serif', serif;
    text-align: left;
    margin-bottom: 10px;
    font-size: 36px;
    color: #333;
}

.subtitle {
    text-align: left;
    margin-bottom: 15px;
    font-size: 24px;
    color: #666;
}

.login-form .form-group {
    margin-bottom: 20px;
    position: relative;
}

.login-form input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #6b72e1;
    background: transparent;
    transition: border-color 0.3s ease;
    top: 3px;
}

.login-form input:focus {
    font-size: 16px;
    bottom: -10px;
}

.login-form label {
    position: absolute;
    left: 10px;
    top: 12px;
    color: #ababab;
    font-size: 16px;
    transition: 0.2s;
    pointer-events: none;
}

.login-form input:focus ~ label,
.login-form input:not(:placeholder-shown) ~ label {
    top: 0.9px;
    left: 10px;
    font-size: 11px;
    color: #6b72e1;
}

.login-form input::placeholder {
    color: transparent;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #2d2d2d;
}

.login-form .forgot-credentials {
    color: #6b72e1;
    text-decoration: none;
    font-size: 14px;
}

.login-form .login-button {
    width: 100%;
    padding: 10px;
    background-color: #6b72e1;
    color: #fbfbfb;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: 0.5s;
}

.login-form .login-button:hover {
    opacity: 1;
    background-color: #3543ff;
    color: #fbfbfb;
}

.login-form .sign-up {
    color: #6b72e1;
    text-decoration: none;
    font-size: 14px;
}

p {
    color: #2d2d2d;
}

@media(max-width: 550px) {
    .login-container {
        background-color: #ffffff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: none;
        max-width: 400px;
        width: 90%;
        transition: 0.3s;
    }
}

.is-invalid{
    outline: 2px solid #dc3545;
}

.invalid-feedback{
    color: #dc3545;
    margin-top: 10px;
}