body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    border-radius: 8px;
    align-self: center;
    margin: 20px auto auto auto;
    align-items: flex-start;
    max-width: 500px;
    width: 90%;
}
.card_body_container{
    width: calc(100% - 40px);
    margin: 20px;
}

img {
    width: 100px;
    height: 100px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
}

a {
    color: #6c757d;
    text-decoration: none;
}

a:hover {
    color: #495057;
}

.text-danger a {
    color: #dc3545;
    font-weight: bold;
}

.text-danger a:hover {
    color: #c82333;
}

@media (max-width: 576px) {
    .card {
        text-align: center;
    }

    .d-flex {
        flex-direction: column !important;
        align-items: center !important;
    }

    .d-flex a {
        display: inline-block;
    }
}

.field-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd; /* Add the underline */
    padding: 10px 0;
}

.field-name-text {
    font-size: 16px;
    color: #6c757d; /* Gray color */
}

.field-value-text {
    font-size: 20px;
    font-weight: 500;
    color: #333; /* Darker text for the phone number */
}

.edit-icon {
    font-size: 18px;
    color: #6c757d; /* Gray color */
    cursor: pointer;
}

.container-fluid{
    flex: 1
}

.modal-actionButton-container-div {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    padding: 0;
    margin: 0 16px 16px 16px; /* Add some space above the buttons */
}

.modal-actionButton-container-div button{
    margin-left: 10px;
}

.invalid-feedback{
    margin-bottom: 8px;
}

#alertContainer{
    margin: 16px 16px 0 16px;
}

#deactivate-account-a{
    color: #C66868;
}