/* Font Declarations */
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* General Styles */
#section_voteCard_container {
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}

/* Vote Card Styles */
.card {
    width: 400px;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#text_voteTitle_h2 {
    color: #2d2d2d;
    font-size: 20px;
    font-family: "Young Serif", serif;
    margin-bottom: 15px;
}

#text_voteAuthorAndTime {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}

/* Vote Option Styles */
.text_voteOptions_p {
    color: #666666;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    outline: 1px solid #666666;
    border-radius: 8px;
    padding: 15px;
    transition: 0.25s;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_voteOptions_p:hover {
    background-color: #dfdfdf;
    outline: 3px solid #756DD6;
}

.text_voteOptions_p.voted {
    cursor: default;
    background-color: rgba(187, 187, 187, 0.2);
}

.text_voteOptions_p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--option-percentage, 0%);
    background-color: rgb(148, 148, 148);
    transition: width 0.3s ease;
    z-index: -1;
    border-radius: 8px;
}

.text_voteOptions_p.user-selected::before {
    background-color: rgba(117, 109, 214, 1);
}

.text_voteOptions_p.other-option {
    background-color: #f0f0f0;
}

.text_voteOptions_p > * {
    position: relative;
    z-index: 1;
}

.option-text {
    flex-grow: 1;
    margin-right: 10px;
}

.vote-percentage {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    z-index: 2;
}

.most-voted::before {
    background-color: rgba(117, 109, 214, 1);
}

.text_voteOptions_p.clicked_selected {
    background-color: rgba(117, 109, 214, 0.8);
    color: #ffffff;
}

.text_voteOptions_p.clicked_not_selected {
    background-color: rgb(148, 148, 148);
    color: #2d2d2d;
}

p.user-selected {
    color: #d3d3d3;
}

p.user-selected span {
    color: #bab9b9;
}

p.other-option {
    color: #6c6c6c;
}

p.other-option span {
    color: #bab9b9;
}

/* Layout and Container Styles */
#container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
}

.vote_info_container {
    display: flex;
}

.vote_info_container p{
    margin-right: 5px;
    margin-bottom: 0;
}