/* For declaring font from Google Fonts */
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#text_voteTitle_h2 {
    color: #2d2d2d;
    font-size: 20px;
    font-family: "Young Serif", serif;
    padding-bottom: 15px;
}

.text_voteOptions_p {
    color: #666666;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    outline: 1px solid #666666;
    border-radius: 8px;
    padding: 15px;
    transition: 0.25s;
}

.text_voteOptions_p:hover {
    background-color: #dfdfdf;
    outline: 3px solid #756DD6;
}

.text_voteOptions_p:last-child {
    margin: 0;
}

.text_voteOptions_p.clicked_selected {
    background-color: #756DD6;
    color: #f5f5f5;
}

.text_voteOptions_p.clicked_not_selected {
    background-color: #919191;
    color: #2d2d2d;
}

#section_voteCard_container {
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}
.card {
    width: 400px;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px; /* Add some padding on the sides */
}

/* Add some bottom margin to the vote title for consistency */
#text_voteTitle_h2 {
    margin-bottom: 15px;
}

/* Style for the author and time text */
#text_voteAuthorAndTime {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}

